@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Work Sans', sans-serif;
}
/* navigation bar */
.navbar {
  display: flex;
  flex-direction: column;
  margin-top:3rem
}
.navbar-links {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top:1rem;
}
.navbar-link {
 text-decoration: none; 
 margin-right: 2rem;
 color: black;
}

/* end of navigation */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.links a {
  margin: 0 2rem;
}
.home {
  text-align: center;
  margin-top: 2rem;
}

/* blog list */

.blog-list-title {
  margin-bottom: 2rem;
}
.blog-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-list-item > div {
  margin-top: 2rem;
  background-color: white;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1.5rem 1rem ;
  transition: .3s
}
.blog-list-item > div:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
}
.blog-list-link{
  color: black;
  text-decoration: none;
  
}
/* end of blog list */

/* blog details */
.blogdetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-top: 3rem;
}
article h2 {
  margin-bottom: 2rem;
  text-align: center;
}
article p {
  margin-bottom: 1rem;
  text-align: center;
}
.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)}
.btn-grad {
   margin: auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   outline: none;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

/* end of blog details */

/* create blog */
.create-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.create-container h2 {
  margin-bottom: 2rem;
}
.create-form {
  display: flex;
  flex-direction:column;
  width: 20rem;
  height: 17rem;
  padding: 5rem;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
  border-radius: 1rem;
}
.create-form label {
  margin-bottom: 1rem;
}
.create-form input{
  padding: .5rem 1rem;
  border-radius: .4rem;
  outline: none;
  margin-bottom: 1rem;
}
.create-form input::placeholder {
  font-family: 'Work Sans', sans-serif;
  color: #000000;
}
 textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
select {
  font-family:'Work Sans', sans-serif;
  margin-bottom: 1rem;
  padding: .3rem;
}

.createBtn {background-image: linear-gradient(to right, #DC2424 0%, #4A569D  51%, #DC2424  100%)}
.createBtn {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   outline: none;
   border: none;
   width: 10rem;
   align-self: center;
 }

 .createBtn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

/* end of create blog */

/* media queries */
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  h1, h2 {
    font-size:1.3rem;
  }
}
/* end of media queries */
